<!DOCTYPE html>
<html lang="en" ng-app="AngularFireApp">
<head>
	<meta charset="UTF-8">
	<title>Angular Fire</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
	<script src="app.js"></script>
	<script src="controllers.js"></script>
</head>
<body ng-controller="CurrencyController">
<h2>Currency Converter</h2>
	<input type="text" ng-model="amount">(USD)
	
	<select ng-model="conversion">
		<option value="bitcoin">Bitcoin</option>
		<option value="dogecoin">Dogecoin</option>
		<option value="litecoin">Litecoin</option>
	</select>
	<input type="submit" value="Convert" ng-click="showWhich(conversion)">
	<div ng-show="show=='bitcoin'">{{(amount*coinData.bitcoin.ask).toFixed(2)}} (Bitcoin)</div>
	<div ng-show="show=='dogecoin'">{{(amount*coinData.dogecoin.ask).toFixed(2)}} (Dogecoin)</div>
	<div ng-show="show=='litecoin'">{{(amount*coinData.litecoin.ask).toFixed(2)}} (Litecoin)</div>

</body>
</html>